@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(/styles/header.css);
@import url(/styles/footer.css);
@import url(/styles/main.css);
@import url(/styles/mensagem.css);
@import url(/styles/modal.css);
@import url(/styles/media-queries.css);
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
:root {
    --color-primary: #fe6613;
    --color-secondary: #1b2653;
    --color-tertiary: #787878;

    --font-family: "Roboto", "Sans-serif";
}

@media (max-width: 768px) {
    .main {
        margin-top: 12%;
    }
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu.active {
        display: flex;
    }
    h3 {
        font-size: 2rem;
    }

}

/* Telefone */
.ver-telefone {
    
    color: var(--color-primary);
    cursor: pointer;
    margin-left: 4%;
}

.ver-telefone span {
    display: none;
    font-size: 1.0rem;
}

.ver-telefone.revelado span {
    display: inline;
}